/* Scrollbar personalizada */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;   /* fundo */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333333;   /* cor da barra */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #262626;   /* cor quando passa o mouse */
}